{% extends 'post/base.html' %}
{% load static %}
{% block content %}
        {% for i in post %}
        <div class="card" style="width: 18rem; margin: 1rem;">
            {% if i.post_image %}
                <img class="card-img-top" src="{{i.post_image.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{i.title}}</h2>
                <h5 class="card-title">{{i.user}}</h5>
                <p class="card-text">{{i.description}}</p>
                {% if i.email %}
                    <a href="mailto:{{i.email}}?subject=I'm Interested - {{i.title}}">Email me!</a>
                {% endif %}
                {% if request.user == i.user %}
                    <a href="{% url 'update' i.rndid %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete' i.rndid %}" class="btn btn-primary">Delete</a>
                {% endif %}
                
            </div>
        </div>
    {% endfor %}
{% endblock %}